// Colors
$primary-color-gradient: #4663ac;
$secondary-color-gradient: #4e649e;
$error-color: rgb(182, 0, 0);

$color-hover: #c8d9ed;
$color-fade: #e1f1fd;
$color-effects: #c1d8f0;
$color-details: #d2deeb